@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

.container.vibrant {
  background-color: transparent !important;
}

:root {
  --sidebar-bg: rgba(0, 0, 0, 0.39);
  --sidebar-item-bg: rgba(132, 132, 132, 0.24);
}

* {
  user-select: none !important;
}

::-webkit-scrollbar {
  display: none;
}

#titlebar {
  -webkit-app-region: drag;
  margin-top: -20px;
  min-height: 3.5em;
  box-sizing: border-box !important;
  position: fixed;
  height: 4em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.video-checker {
  width: 110%;
  height: 110%;
  position: absolute;
  aspect-ratio: 16/10;
  left: 0;
  top: -2rem;
  z-index: 2;
}
