html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-bg: rgba(0, 0, 0, 0.39);
    --sidebar-item-bg: rgba(132, 132, 132, 0.24);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #b6b6b6;
}

* {
    user-select: none !important;
}

#titlebar {
    -webkit-app-region: drag;
    margin-top: -20px;
    min-height: 3.5em;
    box-sizing: border-box !important;
}

.container {
    width: 100%;
    display: flex;
    text-align: left;
}

.container .sidebar {
    flex: 3;
    background-color: var(--sidebar-bg);
    margin-top: -40px;
    padding-top: 40px;
    height: 100vh;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 1px black;
}

.container .content {
    flex: 9;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: azure;
}

.sidebar ul a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: azure;
    cursor: default;
    transition: background .15s ease-in-out;
    margin: 0.5rem 1rem;
    border-radius: 5px;
}

.sidebar ul a.active, .sidebar ul a:focus {
    background-color: var(--sidebar-item-bg);
}

.page-title {
    text-align: center;
}

.md5-label {
    text-align: center;
    display: block;
}

.md5-label:not(:last-child) {
    margin-bottom: 4rem;
}

.md5-text-encrypted, .md5-text-plain {
    font-size: 1.2rem;
}

.md5-label input {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    min-width: 50vw;
    background-color: var(--sidebar-item-bg);
}

.copy-value {
    clear: both;
    position: relative;
    display: inline-block;
}

.copy-value .copy-target {
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 10px;
    top: calc(50% - 4px);
    cursor: pointer;
} 

.copy-value .copy-target img {
    width: 100%;
    height: 100%;
}

.video-checker {
    width: 100%;
    height: 100%;
}

.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5rem);
}

.audio-player .play-pause {
    background-color: var(--sidebar-item-bg);
    border: none;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    transition: all .15s ease-in-out;
    justify-content: center;
}

.audio-player .play-pause:hover {
    transform: scale(1.2);
}

.audio-player .play-pause:active {
    transform: scale(1.1);
}

.audio-player .play-pause img {
    width: 3rem;
}

.audio-player .player {
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
}

@media (max-width: 800px) and (min-width: 100px) {
}